.cover {
    position: relative;
    min-height: 757px;
    color: white;
    width: 100%;
    background-image: url('../images/cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
}

.overlay {
    position: absolute;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.hover-title {
    position: relative;
    width: 1000px;
    margin-left: 50px;
    margin-top: 165px;
}

h1 {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 30px;
    gap: 20px;
}

.letter-spacing-extended {
    width: 286px;
}

.aligned-text {
    align-self: center;
    margin-left: 31px;
    margin-bottom: 4px;
}

.aligned-text_right {
    margin-top: -10px;
    align-self: flex-end;
    margin-right: -30px;
}

.description {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1000px;
    left: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.description-text {
    font-size: 22px;
    word-spacing: 19px;
    text-transform: uppercase;
}

.description-button {
    width: 256px;
    height: 51px;
    background-color: transparent;
    font-size: 22px;
    color: white;
    border: 1px solid white;
    text-transform: uppercase;
}

.lots {
    width: 1052px;
    background-color: white;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 180px;
}

.lots-h2 {
    text-transform: uppercase;
    color: black;
    margin-left: 40px;
    font-size: 40px;
    font-weight: bold;
}

.lots-list {
    list-style: none;
    background-color: white;
    width: 1052px;
    margin-top: 27px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
}

.lots-li {
    width: 334px;
    min-height: 596px;
}

.lots-a {
    display: flex;
    text-decoration: none;
    width: 334px;
    min-height: 596px;
}

.lots-article {
    position: relative;
    width: 100%;
    min-height: 596px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    z-index: 1;
    background-size: cover;
    background-position: center;
}

.lots-article-film {
    background-image: url('../images/card-lot-01.jpg');
}

.lots-article-kniga {
    background-image: url('../images/card-lot-02.jpg');
}

.lots-article-kartina {
    background-image: url('../images/card-lot-03.jpg');
}

.lots-article-text {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    z-index: 2;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 48px ;
}

.lots-article-text-p {
    font-size: 20px;
    z-index: 2;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
}

.lots-more {
    margin-left: 40px;
    margin-top: 30px;
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 4px;
    display: inline-block;
    text-decoration-thickness: 1px;
}

.about {
    display: flex;
    flex-direction: row;
    width: 1052px;
    justify-self: center;
    gap: 72px;
    margin-top: 120px;
}

.logo-column {
    width: 240px;
    height: 240px;
    background: #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 47px;
    margin-top: 35px;
}

.logo-photo {
    width: 148px;
    height: 114px;
}

.about-column {
    margin-top:133px;
    width: 690px;
    justify-self: end;
    align-self: end;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.description-block {
    display: flex;
    gap: 24px;
    flex-direction: column;
    word-break: break-word;
}

.about-title {
    display: flex;
    justify-self: start;
    margin-bottom: 100px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.about-text {
    font-size: 20px;
}

.footer {
    margin-top: 170px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    padding-bottom: 82px;
}

.address-block-footer {
    justify-self: start;
    margin-left: 50px;
    line-height: 25px;
    word-break: keep-all;
    min-width: 250px;
}

.footer-menu {
    display: flex;
    margin-left: 0px;
    font-size: 18px;
    flex-direction: column;
    min-width: 164px;
    align-items: center;
}

.footer-menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-underline-offset: 4px;
    align-items: center;
    margin-top: 2px;
}

.footer-socials {
    display: flex;
    flex-direction: row;
    width: 240px;
    gap: 48px;
    list-style: none;
    margin-left: 179px;
    margin-top: 2px;
}